# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Build artifacts
build/
dist/
*.egg-info/
*.so

# Data and Models
data/raw/
models/
evaluation_results/

# IDE / OS specific
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Hugging Face cache
.cache/

# Secrets
.env
